Source: com.github.danrabbit.lookbook
Section: x11
Priority: extra
Maintainer: Daniel Foré <daniel@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libgranite-dev (>= 0.5),
               libgtk-3-dev,
               libgtksourceview-4-dev,
               libhandy-1-dev (>= 1.0.0),
               meson,
               valac
Standards-Version: 4.1.1

Package: com.github.danrabbit.lookbook
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Browse and find system icons
 See icons at different sizes and get a quick code snippet to use in your apps.
