.code {
    background-color: #fdf6e3;
    background-image:
        linear-gradient(to right,
            #eee8D5 calc(10px + 1.1em),
            #fdf6e3 calc(10px + 1.1em)
        );
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.20);
    padding: 3px;
}

